html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.text-block__title, .exp-tile__value, .head-block h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.news__subscribe-title, .service__title, .header__logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.item__title, .advice__text-wrapper .advice__title, .exp-tile__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}

html, body {
  scroll-behavior: smooth;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #737373;
  background-color: #fafafa;
  letter-spacing: 0.2px;
  font-family: Montserrat, sans-serif;
}

a {
  letter-spacing: 0.2px;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1045px;
  margin: 0 auto;
}

.tiles-list {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.tiles-list .tile > *:not(:last-child) {
  margin-bottom: 10px;
}

.head-block {
  max-width: 864px;
  margin: 0 auto;
  text-align: center;
}
.head-block h2 {
  margin-bottom: 10px;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.header__logo {
  display: inline-block;
  margin: 23px 36px 23px 0;
  padding: 13px 96px 13px 0;
}

.menu {
  display: inline-block;
  margin: auto 0;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 21px;
}
.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: 24px;
}
.menu__link:hover {
  color: #252B42;
  border-bottom: 2px solid #252B42;
}

.intro {
  background: url("../img/main-block/cover.png") no-repeat;
  background-size: cover;
  background-position: 90%;
  padding-top: 184px;
  padding-bottom: 191px;
}
.intro__text-wrapper {
  max-width: 509px;
}
.intro__text-wrapper > *:not(:last-child) {
  margin-bottom: 35px;
}
.intro__title {
  font-size: 58px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.intro__desc {
  font-size: 20px;
  line-height: 30px;
  max-width: 376px;
}
.intro__button_orange {
  color: #fff;
  background-color: #FF7B47;
  border: none;
  border-radius: 37px;
  padding: 10px 36px;
  line-height: 28px;
  font-weight: 700;
  display: inline-block;
}
.intro__button_orange:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.intro__button_green {
  color: #0D5C63;
  background-color: transparent;
  border: 1px solid #0D5C63;
  border-radius: 37px;
  padding: 10px 36px;
  line-height: 28px;
  font-weight: 700;
  display: inline-block;
}
.intro__button_green:hover {
  background-color: rgba(37, 43, 66, 0.5);
  color: white;
}

.services {
  margin-top: -111px;
}

.service {
  padding: 35px 40px;
  max-width: 328px;
  background-color: #fff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.service > *:not(:last-child) {
  margin-bottom: 10px;
}
.service_green {
  background-color: #0D5C63;
}
.service_green .service__title, .service_green .service__desc {
  color: #fff;
}

.experience {
  padding: 80px 0;
}
.experience__header {
  margin-bottom: 50px;
}

.exp-tile {
  padding: 30px 34px;
  max-width: 240px;
  background-color: #fff;
  flex: 1 1;
}
.exp-tile__img {
  display: block;
  margin: 0 auto;
}
.exp-tile__value {
  text-align: center;
}
.exp-tile__title {
  text-align: center;
  color: #737373;
}

.advices {
  margin-top: 125px;
  margin-bottom: 80px;
}
.advices__header {
  margin-bottom: 45px;
}

.advice {
  flex: 1 1;
  max-width: 240px;
}
.advice:first-of-type .advice__text-wrapper {
  padding-bottom: 30px;
}
.advice__text-wrapper {
  margin-bottom: -10px !important;
  padding: 30px 30px 50px 30px;
  background-color: #fff;
}
.advice__text-wrapper .advice__title {
  margin-bottom: 15px;
}
.advice__img {
  width: 100%;
}

.about-us {
  padding: 100px 0;
}
.about-us__header {
  margin-bottom: 100px;
}
.about-us__content {
  display: flex;
  justify-content: space-between;
}
.about-us__photo {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 442px;
  width: 597px;
  background-image: url("../img/who-we/pict.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.text-block {
  padding-top: 20px;
  max-width: 333px;
}
.text-block__title {
  margin-bottom: 10px;
}
.text-block__desc {
  margin-bottom: 50px;
}

.item__icon {
  float: left;
}
.item__title {
  margin-left: 52px;
}
.item__desc {
  margin-left: 52px;
  margin-bottom: 30px;
}

.news {
  margin-top: 15px;
  position: relative;
  min-height: 290px;
  background-color: #fafafa;
}
.news__container {
  position: relative;
  z-index: 1;
}
.news__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
}
.news__pict {
  max-width: 100px;
}
.news__subscribe {
  padding: 30px 40px 30px 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #17213c;
}
.news__subscribe-title {
  max-width: 266px;
  color: white;
}
.news__send-wrapper {
  display: flex;
  max-height: 58px;
}
.news__input {
  box-sizing: border-box;
  padding: 15px 0 15px 20px;
  width: 333px;
  border: none;
  font-size: 20px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.news__input::placeholder {
  font-size: 16px;
  opacity: 0.5;
}
.news__subscribe-btn {
  box-sizing: border-box;
  width: 117px;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 14px;
  line-height: 28px;
  color: white;
  background-color: #FF7B47;
}
.news__blue-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: -40px;
  width: 100%;
  height: 73px;
  background-color: #252B42;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 15px;
  }
}
@media (max-width: 810px) {
  .tiles-list {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }
  .tiles-list .tile {
    flex: 1 1 auto;
  }
  .head__title {
    font-size: 35px !important;
  }
  .header__logo {
    margin-right: 10px;
  }
  .intro {
    padding-top: 120px;
  }
  .intro__text-wrapper {
    max-width: 400px;
  }
  .intro__title {
    font-size: 40px;
    line-height: 58px;
  }
  .intro__desc {
    color: black;
    opacity: 0.6;
  }
  .services .service {
    max-width: 70%;
    margin: 0 auto;
  }
  .advices {
    margin-top: 0;
  }
  .about-us {
    padding: 0;
  }
  .about-us__header {
    margin-bottom: 50px;
  }
  .about-us__content {
    flex-direction: column;
  }
  .about-us__photo {
    width: 100%;
    margin-right: 0;
  }
  .about-us .text-block {
    max-width: 100%;
  }
  .about-us .text-block__list {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
  }
  .about-us .text-block__title {
    font-size: 35px;
    text-align: center;
  }
  .about-us .text-block__desc {
    text-align: center;
    width: 70%;
    margin: 0 auto 50px;
  }
  .news__subscribe {
    padding-left: 15px;
    padding-right: 15px;
  }
  .news__subscribe-title {
    font-size: 16px;
  }
  .news__input {
    padding: 10px 0 10px 15px;
    font-size: 16px;
    max-width: 200px;
    max-height: 43px;
  }
  .news__subscribe-btn {
    max-height: 43px;
    max-width: 90px;
  }
}
@media (max-width: 440px) {
  .tile {
    max-width: 100%;
  }
  .service {
    max-width: 100% !important;
  }
  .news__subscribe {
    margin-top: 20px;
    flex-direction: column;
    row-gap: 20px;
  }
}/*# sourceMappingURL=style.css.map */