.advices {
    margin-top: 125px;
    margin-bottom: 80px;

    &__header {
        margin-bottom: 45px;
    }
}

.advice {
    flex: 1 1;
    max-width: 240px;

    &:first-of-type {
        .advice__text-wrapper {
            padding-bottom: 30px;
        }
    }

    &__text-wrapper {
        margin-bottom: -10px !important;
        padding: 30px 30px 50px 30px;
        background-color: #fff;

        .advice__title {
            margin-bottom: 15px;
            @extend %subtitle;
        }
    }

    &__img {
        width: 100%;
    }
}