.experience {
    padding: 80px 0;

    &__header {
        margin-bottom: 50px;
    }

}
.exp-tile {
    @include tile-properties (30px 34px, 240px);
    flex: 1 1;

    &__img {
        display: block;
        margin: 0 auto;        
    }
    &__value {
        @extend %title;
        text-align: center;
    }
    &__title {
        @extend %subtitle;
        text-align: center;
        color: $gray;
    }
}
